:host {
  --primary-color: currentColor;
  --primary-opacity: 1;
  --secondary-color: currentColor;
  --secondary-opacity: 0.4;
  --rotate-deg: 0deg;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: -0.125em;
}

/* Standard */
:host(:not([auto-width])) {
  width: 1.25em;
  height: 1em;
}

/* Auto-width */
:host([auto-width]) {
  width: auto;
  height: 1em;
}

/* Rotate icon 90 degrees */
:host([wa-rotate-90]) svg {
  transform: rotate(90deg);
}

/* Rotate icon 180 degrees */
:host([wa-rotate-180]) svg {
  transform: rotate(180deg);
}

/* Rotate icon 270 degrees */
:host([wa-rotate-270]) svg {
  transform: rotate(270deg);
}

/* Flip icon horizontal */
:host([wa-flip-horizontal]) svg {
  transform: scaleX(-1);
}

/* Flip icon vertical */
:host([wa-flip-vertical]) svg {
  transform: scaleY(-1);
}

/* Flip icon horizontal and vertical */
:host([wa-flip-both]) svg {
  transform: scale(-1, -1);
}

/* TODO: animations */

svg {
  height: 1em;
  fill: currentColor;
  overflow: visible;
  transform: rotate(var(--rotate-deg), unset);

  /* Duotone colors with path-specific opacity fallback */
  path[data-duotone-primary] {
    color: var(--primary-color);
    opacity: var(--path-opacity, var(--primary-opacity));
  }

  path[data-duotone-secondary] {
    color: var(--secondary-color);
    opacity: var(--path-opacity, var(--secondary-opacity));
  }
}
