:host {
  --primary-color: currentColor;
  --primary-opacity: 1;
  --secondary-color: currentColor;
  --secondary-opacity: 0.4;
  --rotate-deg: 0deg;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: -0.125em;
}

/* Standard */
:host(:not([auto-width])) {
  width: 1.25em;
  height: 1em;
}

/* Auto-width */
:host([auto-width]) {
  width: auto;
  height: 1em;
}

:host([wa-rotate-90]) svg {
  transform: rotate(90deg);
}

:host([wa-flip-horizontal]) svg {
  transform: scaleX(-1);
}

/* TODO: for 180 270 etc */
/* TODO: flip attributes */
/* TODO: custom degree */
/* TODO: animations */

svg {
  height: 1em;
  fill: currentColor;
  overflow: visible;
  transform: rotate(var(--rotate-deg));

  /* Duotone colors with path-specific opacity fallback */
  path[data-duotone-primary] {
    color: var(--primary-color);
    opacity: var(--path-opacity, var(--primary-opacity));
  }

  path[data-duotone-secondary] {
    color: var(--secondary-color);
    opacity: var(--path-opacity, var(--secondary-opacity));
  }
}